<div class="login-container">
  <div class="page-header">
    <%= image_tag("logo.png", width: "100%") %>
  </div>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: "form-horizontal form-user"}) do |f| %>
    <%= devise_error_messages! %>



    <div class="email-container">
      <%= f.label :email, class: "" %>
      <div class="input-field">
        <%= f.email_field :email, class: "text-field form-control", html: {spellcheck: "false"} %>
      </div>
    </div>

    <div class="password-container">
      <%= f.label :password, class: "" %>
      <div class="input-field">
        <%= f.password_field :password, class: "text-field form-control", html: {autocomplete: "off"} %>
      </div>
    </div>

    <div class="password-container">
      <%= f.label :password_confirmation, "Password Confirmation", class: "" %>
      <div class="input-field">
        <%= f.password_field :password_confirmation, class: "text-field form-control", html: {autocomplete: "off"} %>
      </div>
    </div>

    <div class="">
      <div class="">
        <%= f.submit "Sign Up", class: "btn sign-up-button" %>
      </div>
    </div>


  <% end %>
</div>

    <div class="sign-up-links">
      <div class="">
        <%= render "devise/shared/links" %>
      </div>
    </div>

