<%= form_for @event, :html => { :class => 'event-form' } do |f| %>
  <div class="name-container event-box">

    <div class="">
      <%= f.text_field :name, :placeholder => "Event name", :class => '' %>
    </div>
  </div>
  <div class="event-dates">
    <div class="start-date-container event-box">
      <%= f.label :start_date, :class => ' ' %>
      <div class="">
        <%= f.datetime_select :start_date,start_year: DateTime.now.year, end_year: DateTime.now.year + 2, use_short_month: true , :class => '' %>
      </div>
    </div>
    <div class="end-date-container event-box">
      <%= f.label :end_date, :class => ' ' %>
      <div class="">
        <%= f.datetime_select :end_date,end_year: DateTime.now.year + 2,start_year: DateTime.now.year,use_short_month: true, :class => '' %>
      </div>
    </div>

    <div class="create-event-buttons event-box">
      <div class=''>
        <%= f.submit nil, :class => 'btn create-event-button' %>
        <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                    events_path, :class => 'btn btn-default hide' %>
      </div>
    </div>
  </div>
<% end %>
