<%= form_for @device_health, :html => { :class => 'form-horizontal form-model' } do |f| %>
  <div class="form-group">
    <%= f.label :current_battery_charge, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :current_battery_charge, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :available_storage, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :available_storage, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :health, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :health, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :network_signal, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :network_signal, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :available_mobile_data, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :available_mobile_data, :class => 'text-field form-control' %>
    </div>
  </div>

  <div class="form-group">
    <div class='col-md-offset-2 col-md-10'>
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                  device_healths_path, :class => 'btn btn-default' %>
    </div>
  </div>
<% end %>
