<h1>Listing device_healths</h1>

<table>
  <thead>
    <tr>
      <th>Current battery charge</th>
      <th>F fdevice</th>
      <th>Available storage</th>
      <th>Health</th>
      <th>Network signal</th>
      <th>Available mobile data</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @device_healths.each do |device_health| %>
      <tr>
        <td><%= device_health.current_battery_charge %></td>
        <td><%= device_health.f_fdevice %></td>
        <td><%= device_health.available_storage %></td>
        <td><%= device_health.health %></td>
        <td><%= device_health.network_signal %></td>
        <td><%= device_health.available_mobile_data %></td>
        <td><%= device_health.user %></td>
        <td><%= link_to 'Show', device_health %></td>
        <td><%= link_to 'Edit', edit_device_health_path(device_health) %></td>
        <td><%= link_to 'Destroy', device_health, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Device health', new_device_health_path %>
